extends partials/base
block content
    #mas-usadas.bg.screen-color.h-100
        h1.text-center.pt-4 ETIQUETAS MAS USADAS
        .row
            .col-md-6
                img.img-historia.top.etiquetas-img(src="estructura.png" alt="img html ")
            .col-md-6.pt-5
                +card('Un editores te lo facilitar치','Estas son unas de las mas usadas y que siempre estar치n presentes en cualquier sitio web , al igual que etiquetas <link rel="styile sheet" href="index.css o <scrip src="hola-mundo.js"></scrip>"> al igual la etiqueta <div> que sirve para hacer diviciones en el contenido','card-md-6 text-s right' )
    #basicas.bg.screen-color.h-100
        h1.text-center.pt-4 SEO (Search engine optimization)
        .row
            .col-md-6
                img.img-historia.top.etiquetas-img(src="h1.jpg" alt="img html ")
            .col-md-6.pt-2
                +card('liveHack para Google','Sirve para posionar nuestro sitio en los buscadores y estas etiquetas son cruciales para ello, las etiquetas <h1> y <p> son muy importantes ya que google o cualquier buscador les toma mucha importancia al momento de buscar contenido, si tu sitio tiene mas de un <h1> por p치gina o en total tiene  menos de 300 letras por p치gina, se considerara una mala practica  ','card-md-6 text-s right' )
 
