


.nav.bg-footer.bg-dark
    p.nav-item 
        p.text-white.mt-2.ml-3.text-s &copy; 2020 ERICK MARLEY ARITA
        a(href="https://github.com/erickArita")    
            i.fa.fa-github.ml-5.footer-i
    ul.nav.ml-3
        li.nav-item 
            a(class='nav-link  h-text text-s' href='/') INICIO
        li.nav-item 
            a(class='nav-link h-text text-s' href='/historia') HISTORIA  
        li.nav-item 
            a(class='nav-link h-text text-s' href='/etiquetas') ETIQUETAS BÁSICAS  