//- las clases se ponen con un .class los id con #Id 
//- usamos clases de bootstrap
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      //-dentro de los parentesis podemos escribir atributos incluyecto clases ids y todos los demas atributos   
      a.navbar-brand(href="/") 
        img.img(src="logo.png", alt="logo de html" )
      a.text-light(href="/"): h2 HTML
      
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar")
        
        span.navbar-toggler-icon
        //- AQUI directamente escribe ids y clases se sobrentiende que es un div
      #main-navbar.collapse.navbar-collapse.justify-content-end.pr-5

        ul.navbar-nav

          li.nav-item.active
            a.nav-link(href="/") HOME

          li.nav-item.active
            
            if name =='index'
              a.nav-link(href="#historia") VERSIONES
            else
              a.nav-link(href="/#historia") VERSIONES

          li.nav-item.active
            a.nav-link(href="/historia") HISTORIA
 
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle.mr-5(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") ETIQUETAS
            //- se sobre entiende que estas clases pertenecen a un div   
            .dropdown-menu
              a.dropdown-item(href="/etiquetas#mas-usadas") MÁS USADAS
              a.dropdown-item(href="/etiquetas#basicas") BÁSICAS
               